<div class="d-flex align-items-center gap-3 mb-5 px-2">
    <img alt="Masa Viva Logo" class="img-fluid" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCS98mY8OAJ95D-Ebngt-nUfEegDEeLddFW3gScIhd4onu3wZBiBM1StUN_8fMpuNV92rwF3UyyHrWFxOsaj9cg7jBIqCNDvTK6yupoJ9tbBZ8ZwMqdBmrekmK7bOTTmzsFZtCYO0TBe2qo8-cSWq-vTNSb8-yOo09xCEAzU9Y6IeQd_gEisURjJFnSdUQRHMp5vtoI7B_zcA_UzEemvI9FsTjBEqj_Pk824xa1BJEDvuZ1SgReIdcHg9TCQ8_Ba4cb5r8828-QYa0" style="width: 48px;" />
    <div>
        <h5 class="m-0 font-literata fw-bold text-primary">Masa Viva</h5>
        <small class="text-muted text-uppercase" style="font-size: 10px; letter-spacing: 0.5px;">Elaboración Artesanal</small>
    </div>
</div>
<nav class="flex-grow-1">
    <a class="nav-link-custom" asp-controller="Home" asp-action="Index">
        <span class="material-symbols-outlined">dashboard</span>
        Dashboard
    </a>
    <a class="nav-link-custom" href="#">
        <span class="material-symbols-outlined">shopping_cart</span>
        Pedidos
    </a>
    <a class="nav-link-custom" asp-controller="Cliente" asp-action="Index">
        <span class="material-symbols-outlined">groups</span>
        Clientes
    </a>
    <a class="nav-link-custom" asp-controller="Producto" asp-action="Index">
        <span class="material-symbols-outlined">inventory_2</span>
        Productos
    </a>    
    <a class="nav-link-custom" asp-controller="Proveedor" asp-action="Index">
        <span class="material-symbols-outlined">local_shipping</span>
        Proveedores
    </a>
    <a class="nav-link-custom" asp-controller="Configuracion" asp-action="Index">
        <span class="material-symbols-outlined">settings</span>
        Configuración
    </a>
</nav>
<div class="mt-auto border-top pt-4">
    <button class="btn btn-mv-primary w-100 d-flex align-items-center justify-content-center gap-2">
        <span class="material-symbols-outlined">add</span>
        Nuevo Pedido
    </button>
</div>