<button class="btn d-lg-none me-2" data-bs-toggle="offcanvas" data-bs-target="#sidebarMobile">
    <span class="material-symbols-outlined">menu</span>
</button>
<button class="btn p-1 text-secondary d-none d-lg-block" id="btnToggleSidebar">
    <span class="material-symbols-outlined">menu</span>
</button>
<div class="me-auto"></div>
<div class="d-flex align-items-center gap-3">
    <button class="btn p-1 text-secondary">
        <span class="material-symbols-outlined">notifications</span>
    </button>
    <button class="btn p-1 text-secondary">
        <span class="material-symbols-outlined">settings</span>
    </button>
    <div class="ms-2">
        <img alt="User" class="rounded-circle border border-2 border-white shadow-sm" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAu_ZoLucNiq4ojRW1wn3QA2qq4GBxfHnQK1myF424JPGZIoqBUTpDR2rEn40ZI5Ig0yHVv2PE9tI4Qtb1AMeSpiQqw_rythBOxtQjn_lyuLuhkEBdw1NsYeJSXTQ-yWSlC8K7mRsGmj0gYwASFZP50FsywGCOMI63_-eFdnLYTXDVO14uc2Z7XSgMPyxUUIn0TMEWkUww4ys6uYkjioeENDivbJffWofrDVTyj6HNbozUoBE32N6k34p9RCJSBkAc07lAsJYvunlU" style="width: 40px; height: 40px; object-fit: cover;" />
    </div>
</div>